{% extends 'index.html' %}
{% block title %}
{% endblock %}
{% block content %}
<form action="/added" method="post">
    <p><label>Record name</label></p>
        <input type="text" class="key" required >
    <p><label>Record data</label></p>
    <div class="inputs">
        <p><input class='record' type="text" required ></p>
    </div>
    <input type="button" class="button" id="add" value=" Add " onclick="newInput()">
    <input type="submit" class="button" value="Save" onclick="extractDataFromForm()">
</form>
{% endblock %}
